.game-board-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    font-size: 3em;
    text-align: center;  
}

.row-counter, .column-container {
    display: flex;
    justify-content: center;
}

.row-counter {
    flex-direction: column;
    align-items: center;
}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 640px; /* 8 squares * 80px each */
    margin: 10px 0;
  }
  
  .chessboard div {
    width: 80px;
    height: 80px;
  }
  
  .chessboard div:hover {
    outline: solid black 3px;
  }
  
  .light {
    background-color: #769656;
  }
  
  .dark {
    background-color: #eeeed2;
  }