.game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;

    .vertical-label {
      display: flex;
      width: 80px;
      height: 80px;
      justify-content: center;
      align-items: center;
    }

    .letter-div {
      display: flex;
      flex-direction: row;
      margin-left: 80px;
    }
}


.row-counter {
    flex-direction: column;
    align-items: center;
}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;  /* 8 squares * 80px each */
    min-width: 640px;
  }
  
  .chessboard div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chessboard div:hover {
    border: solid black 3px;
    width: 74px;
    height: 74px;
  }
  
  .light {
    background-color: #769656;
  }
  
  .dark {
    background-color: #eeeed2;
  }